
<web-app>
  <display-name>Hello Portlet</display-name>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>poc.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>servletContextParam</param-name>
    <param-value>ServletContextParamValue</param-value>
  </context-param>
  
</web-app>
